@import '../../index.scss';

.SlideShow {
  @include flex-row;

  @media #{$media-phone-landscape} {
    width: 100%;
    @include flex-center;
  }
  .swiper-container {
    width: 40rem;
    height: 85rem;

    @media #{$media-phone-landscape} {
      width: 95vw;
      height: 100vh;
    }
    // position   : absolute;
    // left       : 50%;
    // top        : 50%;
    // transform  : translate(-50%, -50%);
  }

  .swiper-pagination-bullet {
    background: white;
    opacity: 0.35;

    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  .title {
    margin-top: 2rem;
    color: white;
    font-size: 1.5vmax;
    z-index: 2;
    text-transform: capitalize;
    background: -webkit-linear-gradient(#eee, rgba(#eee, 0.5));
    text-shadow: 0 1rem 1rem rgba(#000, 0.3);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: repeat-x;
    transition: all 1s ease-in-out;
  }

  .iphone-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -39%) scale(0.62);
  }

  .carousel {
    position: relative;
    height: 65vh;
    // width      : 100%;
    perspective: 40vw;

    &-item {
      height: 100%;
      min-width: 20vw;
      cursor: pointer;
      background-position: center;
      filter: drop-shadow(0 0.5rem 1rem rgba(#000, 0.3));
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        flex-shrink: 0;
        object-fit: cover;
        max-height: 100%;
        width: auto;
      }
    }
  }
}
