@import './globals';
.Button {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  padding: 15px 15px 15px 30px;
  display: inline-block;
  background-color: transparent;
  vertical-align: top;
  font-family: $font-body;
  @include border-radius(50px);
  will-change: transform;
  @media #{$media-phone-portrait} {
    padding: 12px 12px 12px 25px;
  }

  &.go-back {
    position: absolute;
    right: 5%;
    top: 5%;
  }

  &:before,
  &:after {
    content: '';
    @include border-radius(50px);
    @include fullAbsBg;
    z-index: -1;
    @include transition(all 0.25s $easing);
    opacity: 0;
    backface-visibility: hidden;
  }
  &:before {
    @include horizontal-gradient($blue, $green);
    box-shadow: 0 0 0 0 rgba(18, 168, 192, 0);
    opacity: 0.8;
  }

  &:hover {
    &:before {
      box-shadow: 0 0 0 4px rgba(18, 168, 192, 0.6);
    }

    .Icon.icon-arrow-down {
      &:before {
        @include transform(translateY(5px));
      }
      &:after {
        @include transform(rotate(0deg));
        border-left-color: rgba(255, 255, 255, 0.8);
      }
    }
    .Icon.icon-arrow-right {
      &:before {
        @include transform(translateX(5px));
      }
      &:after {
        @include transform(rotate(-45deg));
        border: {
          right-color: transparent;
          bottom-color: transparent;
        }
      }
    }
  }

  .Icon,
  .label {
    @include inline-block-mid;
  }

  .Icon {
    font-size: 3rem;
    margin: 0;
    margin-right: 1rem;
    @media #{$media-phone-portrait} {
      font-size: 2.8rem;
    }

    &.icon-arrow-down,
    &.icon-arrow-right {
      padding: 1px;
      position: relative;
      -webkit-backface-visibility: hidden;
      &:before {
        @include transition(all 0.25s $easing);
        display: block;
      }
      &:after {
        content: '';
        @include fullAbsBg;
        @include round;
        @include transition(all 0.25s $easing);
        border: {
          color: rgba(255, 255, 255, 0.8);
          style: solid;
          width: 1px;
        }
      }
    }

    //down
    &.icon-arrow-down {
      &:before {
        @include transform(translateY(-5px));
      }
      &:after {
        @include transform(rotate(135deg));
        border-left-color: transparent;
        border-bottom-color: transparent;
      }
    }

    //right
    &.icon-arrow-right {
      &:before {
        @include transform(translateX(-5px));
      }
      &:after {
        @include transform(rotate(180deg));
        border-right-color: transparent;
      }
    }
  }
  .label {
    font-size: 2.1rem;
    @media #{$media-phone-portrait} {
      font-size: 1.9rem;
    }
  }

  //white
  &.Button-white {
    &:before {
      display: none;
    }
    &:after {
      box-shadow: 0 0 0 1px #fff;
      opacity: 0.65;
      @include transition(all 0.25s $easing);
    }
    &:hover:after {
      opacity: 0.8;
      box-shadow: 0 0 0 2px #fff;
    }
  }

  //small
  &.Button-small {
    padding: 5px 15px;
    font-size: 1.4rem;
    @include border-radius(30px);
    .label {
      font-size: 1.4rem;
    }
  }

  //primary
  &.Button-primary {
    &:after {
      @include horizontal-gradient($green, $blue);
      opacity: 0.8;
      @include transition(opacity 0.25s $easing);
    }

    &:hover:after {
      opacity: 0;
    }
  }
}





.main-page{

	.main-page-hero{
		padding-top: 18vh;
		margin-bottom: 20vh;
		color: $grey-dark;
		position: relative;
		&.white{
			color: #fff;
		}
		h1{
			@include animation(softFromTop .5s .9s $easing both);
			font-size: 7.2rem;
			@media #{$media-desktop-small} {
				font-size: 6.2rem;
			}
			@media #{$media-tablet-portrait} {
				font-size: 5.2rem;
			}
			@media #{$media-phone-landscape} {
				font-size: 4.2rem;
			}
			&:after{
				content: '';
				display: block;
				background-color: $green;
				width: 50px;
				height: 1px;
				margin: 15px 0 25px;
				@media #{$media-phone-landscape} {
					margin: 10px 0 25px;
				}
			}
		}
		p{
			@include animation(softFromTop .5s .7s $easing both);
			max-width: 380px;
			font-size: 1.9rem;
			margin-bottom: 50px;
			@media #{$media-tablet-portrait} {
				font-size: 1.8rem;
			}
			@media #{$media-phone-landscape} {
				font-size: 1.7rem;
				margin-bottom: 30px;
			}
			&.wide{
				max-width: 510px;
			}
		}
	}



	.main-page-content{
		background-color: #fff;
	}

	.main-page-dark-blue{
		background-color: $grey-dark;
		padding: 95px 0;
		color: #fff;
		@media #{$media-tablet-portrait} {
			padding: 80px 0;
		}
		@media #{$media-phone-landscape} {
			padding: 60px 0;
		}
	}



	.two-columns{
		@include display-flex;
		@include flex-wrap(wrap);
		@include justify-content(space-between);
		@media #{$media-tablet-portrait} {
			padding: 80px 0;
		}
		@media #{$media-phone-landscape} {
			padding: 60px 20px;
			display: block;
		}
		p{
			font-size: 2rem;
			width: 45%;
			@media #{$media-tablet-portrait} {
				font-size: 1.8rem;
			}
			@media #{$media-phone-landscape} {
				font-size: 1.7rem;
				width: 100%;
				&:first-of-type{
					margin-bottom: 50px;
				}
			}
		}
		.line{
			width: 1px;
			border-right: 1px solid $white-light-mid;
			@media #{$media-phone-landscape} {
				display: none;
			}
		}
	}




	p.main-page-txt{
		font-size: 2rem;
		max-width: 780px;

		span{
			z-index: 1;
			position: relative;
			&:before{
				opacity: .7;
				content: '';
				position: absolute;
				top: 60%;
				left: -5px;
				right: 0;
				@include horizontal-gradient($blue, $green);
				@include transition(all .5s $easingSmooth);
				@include transform-origin(left top);
				@include transform(scale(0,1));
				height: 45%;
				z-index: -1;
			}
		}

		&:not(:last-of-type){
			margin-bottom: 50px;
		}

		&.active span:before{
			@include transform(scale(1,1));
		}
	}



}