@import '../../index.scss';

.MyWork {
  @include flex-column;
  background: linear-gradient(to bottom left, #0ba8d8, $grey-dark);

  header {
    h1,
    p {
      color: black;
    }
    h1 {
      @include animation(softFromBottom 0.2s 600ms $easing both);
    }

    p {
      @include animation(softFromBottom 0.2s 800ms $easing both);
    }
  }

  .BGImg {
    position: relative;
    box-shadow: -1px 21px 73px -13px rgba(0, 0, 0, 0.3);
    @media #{$media-phone-landscape} {
      height: 75vh;
    }
    &:after {
      @include pseudo;
      @include transform-origin(top);
      width: 100vw;
      height: 100vh;
      display: flex;
      background: darken($grey-dark, 10%);

      @media #{$media-phone-landscape} {
        @include transform-origin(right);
      }
    }

    .BGImg-image {
      background-attachment: fixed;

      @media #{$media-phone-landscape} {
        background-position-x: 57%;
      }
    }

    &.BGImg-loaded {
      &:after {
        @include animation(bgOutY 0.5s 0.2s $easing both);

        @media #{$media-phone-landscape} {
          @include animation(bgOut 0.5s 0.2s $easing both);
        }
      }

      @include transform-origin(bottom);
      @include animation(moveBgY 0.5s 0.2s $easing both);
    }
  }

  .subtitles-wrapper {
    @include flex-row;
    width: 100%;
    // height: 35rem;
  }

  .main-content {
    @include flex-row;
    align-items: flex-start;
    padding: 10rem 32rem;

    @media #{$media-phone-landscape} {
      flex-direction: column-reverse;
      padding: initial;
      max-width: 100vw;
    }

    .buttons-container {
      @include flex-row;
      @media #{$media-phone-landscape} {
        width: 100%;
        justify-content: space-between;
        margin-top: 2rem;
      }
      & > * {
        @include flex-row;
        margin-right: 1rem;
        width: 20rem;
        justify-content: space-between;

        @media #{$media-phone-landscape} {
          width: 40vw;
        }
      }
    }
  }
}
