@import '../../index.scss';

.ImgSlider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20rem;
  background: $dark-blue;
  padding: 0 15rem;

  @media #{$media-phone-landscape} {
    display: none;
  }
}
