@import './../../index.scss';

.wireframe {
  position: absolute;
  bottom: -25%;
  right: -10%;
  pointer-events: none;
  z-index: 50;

  @media #{$media-phone-landscape} {
    right: -70%;
  }

  &.fadeIn {
    @include animation(softFromBottom 0.2s $easing both);
  }

  &__lines {
    position: relative;
    @include flex-center;

    @media #{$media-phone-landscape} {
      animation: rightToLeft 50s linear infinite;
    }
  }
}

