@import './../../index.scss';

.wireframe {
  position: absolute;
  bottom: -40vh;
  right: -10vw;
  transform: scale(1);
  opacity: 0.2;

  @media #{$media-phone-landscape} {
    bottom: -60vh;
    right: -70vw;
    animation: rightToLeft 0.7s $easing forwards infinite;
  }

  &.fadeIn {
    @include animation(softFromBottom 0.2s $easing both);
  }

  &__lines {
    position: relative;
    @include flex-center;
  }
}

@keyframes rightToLeft {
  0% {
    @include transform(translateX(0rem));
  }
  50% {
    @include transform(translateX(0rem));
  }

  25% {
    @include transform(translateX(-5rem));
  }

  75% {
    @include transform(translateX(5rem));
  }
}
