@import './../../index.scss';

.wireframe {
  position: absolute;
  bottom: -40vh;
  right: -10vw;
  opacity: 0.2;

  @media #{$media-phone-landscape} {
    bottom: -60vh;
    right: -70vw;
  }

  &.fadeIn {
    @include animation(softFromBottom 0.2s $easing both);
  }

  &__lines {
    position: relative;
    @include flex-center;

    @media #{$media-phone-landscape} {
      animation: rightToLeft 60s linear infinite;
    }
  }
}

