@import "./assets/scss/globals";

//base
@import "./assets/scss/normalize";
@import "./assets/scss/base";
@import "./assets/scss/components";

//transitionGroups
@import "./assets/scss/transitionGroups";

//pages
@import "./assets/scss/solutions";
//ui
@import './assets/scss/ui';


body {
  margin: 0;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}