@font-face {
  font-family: 'icomoon';
  src: url('./icomoon.eot?r4h20r');
  src: url('./icomoon.eot?r4h20r#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?r4h20r') format('truetype'),
    url('./icomoon.woff?r4h20r') format('woff'),
    url('./icomoon.svg?r4h20r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-medium:before {
  content: '\e900';
}
.icon-bbc:before {
  content: '\e901';
}
.icon-cnn:before {
  content: '\e902';
}
.icon-court:before {
  content: '\e903';
}
.icon-reuters:before {
  content: '\e904';
}
.icon-arrow-down:before {
  content: '\e905';
}
.icon-arrow-left:before {
  content: '\e906';
}
.icon-arrow-right:before {
  content: '\e907';
}
.icon-arrow-up:before {
  content: '\e908';
}
.icon-balance:before {
  content: '\e909';
}
.icon-bing:before {
  content: '\e90a';
}
.icon-brain:before {
  content: '\e90b';
}
.icon-buffer:before {
  content: '\e90c';
}
.icon-china-daily:before {
  content: '\e90d';
}
.icon-chrome:before {
  content: '\e90e';
}
.icon-close:before {
  content: '\e90f';
}
.icon-doc:before {
  content: '\e910';
}
.icon-docs:before {
  content: '\e911';
}
.icon-eagle:before {
  content: '\e912';
}
.icon-eye:before {
  content: '\e913';
}
.icon-facebook:before {
  content: '\e914';
}
.icon-fed:before {
  content: '\e915';
}
.icon-flag:before {
  content: '\e916';
}
.icon-ft:before {
  content: '\e917';
}
.icon-gaurdian:before {
  content: '\e918';
}
.icon-gmail:before {
  content: '\e919';
}
.icon-gold:before {
  content: '\e91a';
}
.icon-google:before {
  content: '\e91b';
}
.icon-ivy:before {
  content: '\e91c';
}
.icon-legal:before {
  content: '\e91d';
}
.icon-linkedin:before {
  content: '\e91e';
}
.icon-offshore:before {
  content: '\e91f';
}
.icon-plus:before {
  content: '\e920';
}
.icon-script:before {
  content: '\e921';
}
.icon-sec:before {
  content: '\e922';
}
.icon-send:before {
  content: '\e923';
}
.icon-share:before {
  content: '\e924';
}
.icon-slack:before {
  content: '\e925';
}
.icon-student:before {
  content: '\e926';
}
.icon-time:before {
  content: '\e927';
}
.icon-trello:before {
  content: '\e928';
}
.icon-twitter:before {
  content: '\e929';
}
.icon-vi:before {
  content: '\e92a';
}
.icon-youtube:before {
  content: '\e92b';
}
