@import '../../index.scss';

$strip-height: 206px;
//ContactUs
.about-me {
  padding-bottom: $strip-height;
  background: linear-gradient(to bottom left, #4c496e, $grey-dark);
  &.form-page {
    h1 {
      transition: all 0.2s ease-in-out;
      filter: drop-shadow(2px 5px 5px rgba(black, 0.8));
      @include animation(softFromBottom 0.2s $easing both);

      &:hover {
        filter: drop-shadow(2px 5px 5px rgba(black, 1));
      }
    }

    &.submitted {
      padding-top: 15vh;
      .submitted-section {
        @include flex-column;
        position: relative;
        @include animation(softFromBottom 0.2s $easing both);
        @include listAnimationDelay(80, 6);
        @include transition(all 0.2s $easingSmooth);
        font-weight: 300;
        margin: 32px 0;
        min-height: 24rem;
        @include justify-content(space-around);
        padding: 0 2rem;
        color: white;

        &:not(h2) {
          font-size: 1.6rem;
        }

        h2 {
          font-weight: 300;
        }

        .help-section {
          color: $white-light;
          margin-top: 5.5rem;
          ul {
            margin-top: 0.5rem;
            font-size: 1.5rem;
            line-height: 1.72;

            li {
              list-style-type: circle;
              margin-left: 1.3rem;

              a {
                color: inherit;
                margin-left: 0.4rem;
              }
            }
          }
        }
      }
    }
  }

  .half-bg:after {
    background-color: darken(#3f3969, 0%);
  }

  .button-container {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    .bottom-text {
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      transform: translateY(1.5rem);

      a {
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #1de7de;
        border-bottom: 1px solid #1de7de;

        &:focus,
        &:active,
        &:hover {
          color: inherit;
        }
      }
    }
  }

  .logo-strip {
    position: absolute;
    bottom: 0;
    left: 0;
    height: $strip-height;
    padding: 2% 15%;
    width: 100%;
    z-index: 1;
    background-color: #345a71;

    .top,
    .bottom {
      @include flex-center();
      @include justify-content(space-around);
      flex-wrap: nowrap;
      @include animation(bottomIn 0.5s $easing 100ms both);
      img {
        margin: 0 0.1rem;
        display: block;
        padding-bottom: 22px;
        max-width: 290px;
      }
    }

    .bottom {
      @include animation-delay(0.5s);
    }
  }
}

@media (max-width: 550px) {
  $mobile-height: 85vh;
  .OnBoarding {
    padding-bottom: $mobile-height;
    .logo-strip {
      padding: 2rem 10rem;
      height: $mobile-height;

      .top,
      .bottom {
        flex-wrap: wrap;
      }

      img {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media (min-width: 550px) {
  .OnBoarding {
    &.form-page {
      &.submitted {
        .submitted-section {
          text-align: left;
          width: 50%;
          margin-left: auto;
        }
        h1 {
          padding-right: 14rem;
          text-align: right;
          span {
            min-width: 100%;
          }
        }
      }
    }
  }
}
