@import '../../index.scss';

$strip-height: 206px;
//ContactUs
.AboutMe {
  padding-bottom: $strip-height;
  background: linear-gradient(to bottom left, #4c496e, $grey-dark);
  overflow: hidden;
  &.form-page {
    h1 {
      transition: all 0.2s ease-in-out;
      filter: drop-shadow(2px 5px 5px rgba(black, 0.8));
      @include animation(softFromBottom 0.2s $easing both);

      &:hover {
        filter: drop-shadow(2px 5px 5px rgba(black, 1));
      }
    }

    &.submitted {
      padding-top: 15vh;
      .submitted-section {
        @include flex-column;
        position: relative;
        @include animation(softFromBottom 0.2s $easing both);
        @include listAnimationDelay(80, 6);
        @include transition(all 0.2s $easingSmooth);
        font-weight: 300;
        margin: 32px 0;
        min-height: 24rem;
        @include justify-content(space-around);
        padding: 0 2rem;
        color: white;

        &:not(h2) {
          font-size: 1.6rem;
        }

        h2 {
          font-weight: 300;
        }

        .help-section {
          color: $white-light;
          margin-top: 5.5rem;
          ul {
            margin-top: 0.5rem;
            font-size: 1.5rem;
            line-height: 1.72;

            li {
              list-style-type: circle;
              margin-left: 1.3rem;

              a {
                color: inherit;
                margin-left: 0.4rem;
              }
            }
          }
        }
      }
    }
  }

  .half-bg:after {
    background-color: darken(rgba(#252235, 0.8), 0%);
  }

  .half-section {
    overflow: hidden;
    p {
      font-size: 2rem;
      color: white;
    }

    @media #{$media-phone-landscape} {
      padding-bottom: 10rem;
    }
  }
}
